@import "../../../variables";

#about {
    .content {
        display: flex;
        flex-direction: column;

        :nth-child(odd) {
            align-self: flex-end;
        }

        > * {
            margin-bottom: 15vh;
        }

        .card {
            width: 25vw;
            box-shadow: 0 0 3rem 1rem $xxx-dark-gray;
            border: 1px solid black;
            padding: 3.5rem;
            background: $x-dark-gray;

            + .card {
                margin-top: -20vh;
            }

            ul {
                li {
                    font-size: 1.675rem;

                    &:not(:last-child) {
                        margin-bottom: 2.25rem;
                    }
                }
            }

            &#my-stack {
                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
