@import "../../variables";

#project {
    padding-top: 20vh;

    .title {
        position: relative;

        .before {
            position: absolute;
            left: 0;
            transform: translateX(-100%);

            > span {
                opacity: 0;
                transition: all 0.1s;

                &:nth-child(1) {
                    transition-delay: 0.2s;
                }
                &:nth-child(2) {
                    transition-delay: 0.1s;
                }
            }
        }

        &:hover {
            .before {
                span {
                    opacity: 1;
                }
            }
        }

        + h5 {
            transform: translateY(calc(-15vh + 2rem));
        }
    }

    .content {
        p {
            &:first-child {
                margin-top: -7.5vh;
            }

            margin-bottom: 2rem;

            &.li {
                + .li {
                    margin-top: -1.25rem;
                }
            }

            &:last-of-type {
                margin-bottom: 10vh;
            }
        }

        img {
            width: 100%;
        }
    }
}
