@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro|Source+Code+Pro|Itim|Aladin|Shojumaru|McLaren|Lacquer|Maven+Pro|Sedgwick+Ave+Display|Ubuntu+Mono&display=swap");

// COLORS

$xxx-dark-gray: #161616;
$xx-dark-gray: #1c1c1c;
$x-dark-gray: #242424;
$dark-gray: #444444;
$medium-dark-gray: #666666;
$medium-gray: #888888;
$medium-light-gray: #afafaf;
$light-gray: #cccccc;
$x-light-gray: #e2e2e2;
$xx-light-gray: #eeeeee;

$dark-purple: #220099;
$medium-purple: #5500bb;
$light-purple: #7700dd;
$x-light-purple: #9900ff;

$dark-blue: #0011aa;
$medium-blue: #1155dd;
$light-blue: #22aaee;
$x-light-blue: #33ddff;

$dark-red: #aa0000;
$medium-red: #dd2211;
$light-red: #ff4422;
$x-light-red: #ff6633;

// SIZES

$base-size: 1rem;

$small: $base-size * 0.75;
$x-small: $small * 0.75;
$xx-small: $x-small * 0.75;
$xxx-small: $xx-small * 0.75;

$large: $base-size * 1.25;
$x-large: $large * 1.25;
$xx-large: $x-large * 1.25;
$xxx-large: $xx-large * 1.25;
