@import "./variables.scss";

html,
body,
#root {
    font-family: "Source Code Pro";
    background: $xx-dark-gray;
    color: $light-gray;

    section {
        padding: 0 15vw;
        margin-bottom: 22.5vh;
    }

    b {
        color: $x-light-red;
    }

    strong {
        color: $x-light-blue;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $x-light-blue;
        }
    }

    h1 {
        font-size: 7.5rem;
    }

    h2 {
        font-size: 4.75rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
        margin-bottom: 15vh;
    }

    h3 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 3.125rem;
        font-weight: bold;
        padding-bottom: 2rem;
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
    }

    h5 {
        font-size: 2rem;
        color: $x-light-blue;
        margin-bottom: 2rem;
    }

    h6 {
        font-size: 2rem;
    }

    p {
        font-size: 1.675rem;
        line-height: 150%;
    }

    img {
        border: 1px solid black;
        box-shadow: 0 0 3rem 1rem $xxx-dark-gray;
    }
}
